:root {
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Text color */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --text-logo-color: #000000;
  --wite-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196f3;
  /* Background-color */
  --accent-color: #2196f3;
  --accent-button-color: #188ce8;
  --wite-background-color: #ffffff;
  --button-color: #f5f4fa;
  --accent-background-color: #2f303a;
  --section-background-color: #eeeeee;
  --alt-section-color: #e5e5e5;
  --team-background-color: #f5f4fa;
  --social-icon-background-color: rgba(255, 255, 255, 0.1);
  /* Line color */
  --header-line-color: #ececec;
  /* Icon color*/
  --primary-icon-color: #afb1b8;
  --second-icon-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-product__overlay, .portfolio-link, .portfolio-button, .header-contacts__link, .header-nav__link, .modal-form__icon, .modal-form__field textarea, .modal-form__field input, .modal-button, .modal-backdrop, .header-nav__mobile--link, .button-style {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Base styles */
body {
  background-color: var(--wite-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* Contemner settings */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Logo */
.site-logo {
  display: block;
  color: var(--accent-text-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1923076923;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .site-logo {
    font-size: 26px;
  }
}

.site-logo--header {
  color: var(--text-logo-color);
}

.site-logo--footer {
  color: var(--wite-text-color);
}

.button-style {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--accent-text-color);
  color: var(--wite-text-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 0;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button-style.button-submit {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-style.button-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button-style:hover, .button-style:focus {
  background-color: var(--accent-button-color);
}

.header-nav__mobile {
  display: block;
}
@media screen and (min-width: 768px) {
  .header-nav__mobile {
    display: none;
  }
}

.header__burger {
  position: relative;
  z-index: 1000;
  width: 24px;
  height: 16px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__burger::before, .header__burger::after, .header__burger span {
  content: "";
  background-color: var(--primary-text-color);
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger span {
  top: 7px;
}
.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6.5px;
}
.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 6.5px;
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

.header-nav__mobile--menu {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  pointer-events: none;
  z-index: 500;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--wite-background-color);
  padding: 48px 40px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.header-nav__mobile--menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: auto;
}
@media screen and (min-width: 768px) {
  .header-nav__mobile--menu {
    display: none;
  }
}

.header-nav__mobile--list {
  margin-bottom: 250px;
}

.header-nav__mobile--item {
  margin-bottom: 32px;
}
.header-nav__mobile--item:last-child {
  margin-bottom: 0;
}

.header-nav__mobile--link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition-property: color;
  transition-property: color;
}
.header-nav__mobile--link:hover, .header-nav__mobile--link:focus {
  color: var(--accent-text-color);
}

.header-nav__mobile--contacts-mail {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
@media screen and (max-width: 420px) {
  .header-nav__mobile--contacts-mail {
    font-size: 26px;
    line-height: 1.8;
  }
}

.header-nav__mobile--contacts-tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
@media screen and (max-width: 420px) {
  .header-nav__mobile--contacts-tel {
    font-size: 24px;
    line-height: 1.8;
  }
}

.header-nav__mobile--contacts-item {
  margin-bottom: 32px;
}

.mobile-social__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 420px) {
  .mobile-social__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
}

.mobile-link__social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  padding: 0 10px;
  color: var(--accent-text-color);
}

.mobile-item__social {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-item__social:last-child {
  border-right: none;
}

/* Modal window */
.modal-backdrop {
  position: fixed;
  overflow-y: scroll;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--wite-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .modal-window {
    width: 85%;
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
    padding: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-window {
    width: 450px;
  }
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--wite-background-color);
  margin-right: auto;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.modal-button:hover {
  fill: var(--accent-color);
}

.modal-button__icon--close {
  color: currentColor;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
@media screen and (max-width: 480px) {
  .modal-title {
    font-size: 14px;
    line-height: 1.2857142857;
  }
}

.modal-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.modal-form__field:nth-child(4) {
  margin-bottom: 0;
}
.modal-form__field label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.modal-form__field label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.modal-form__field input {
  margin: 0;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: border-color, outline-color;
  transition-property: border-color, outline-color;
}
.modal-form__field input:focus ~ .modal-form__icon {
  fill: var(--accent-color);
}
.modal-form__field input:focus {
  outline-color: var(--accent-color);
}
.modal-form__field textarea {
  -webkit-transition-property: outline-color;
  transition-property: outline-color;
}
.modal-form__field textarea:focus {
  outline-color: var(--accent-color);
}

.checkbox-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.1666666667;
}
@media screen and (max-width: 480px) {
  .label {
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .label {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.checkbox-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 5px;
}

.checkbox-icon_checked {
  display: none;
}

.checkbox-input:checked + .checkbox-icon .checkbox-icon_checked {
  display: block;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--title-text-color);
  -webkit-transition-property: fill;
  transition-property: fill;
}

.checkbox-link {
  display: block;
  line-height: 1.7142857143;
  border-bottom: 1px solid currentColor;
  line-height: 0.8;
  margin-left: 5px;
  color: var(--accent-text-color);
}
@media screen and (max-width: 480px) {
  .checkbox-link {
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    border-bottom: none;
    -webkit-text-decoration: revert;
            text-decoration: revert;
  }
}

.modal-form__field--comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__field--comment:-moz-placeholder-shown {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__field--comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__field--comment:placeholder-shown {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 20px;
}

.modal-checkbox input {
  margin-right: 8px;
}

.modal-bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Header */
.header {
  border-bottom: 1px solid var(--header-line-color);
  position: relative;
}

/* Header Nav */
.header-menu {
  padding-bottom: 16px;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.header-nav {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header-nav {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 93px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-left: 88px;
    margin-right: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}

.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
}
.header-nav__link:hover, .header-nav__link:focus {
  color: var(--accent-text-color);
}

.header-nav__link--current {
  position: relative;
  color: var(--accent-text-color);
}
.header-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Contacts */
.header-contacts {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.header-contacts--list:first-child {
  margin-right: 50px;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header-contacts--list:first-child {
    margin-right: 0;
  }
}

.header-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-text-color);
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header-contacts__link {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */
.hero-title {
  font-size: 26px;
  line-height: 1.6153846154;
  color: var(--wite-text-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero-container__text {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero-container__text {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container__text {
    width: 696px;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--accent-background-color);
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero/hero_480@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero_480@1x.jpg);
  max-width: 480px;
  padding-top: 58px;
  padding-bottom: 58px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero/hero_480@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero_480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-top: 58px;
    padding-bottom: 58px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero/hero_768@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero_768@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero/hero_768@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero_768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero/hero_1200@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero_1200@1x.jpg);
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero/hero_1200@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero_1200@2x.jpg);
  }
}

/* peculiarities */
@media (min-width: 768px) and (max-width: 1199.98px) {
  .peculiarities-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.peculiarities-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .peculiarities-title {
    text-align: start;
  }
}

.peculiarities-container__icon {
  height: 120px;
  background-color: var(--button-color);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.peculiarities-icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.peculiarities-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 30px;
}
.peculiarities-container:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .peculiarities-container {
    width: 354px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities-container {
    width: 270px;
  }
}

.peculiarities-text {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

/* Work */
.work {
  padding-top: 0;
}
@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.work-item {
  position: relative;
}

.work-text {
  position: absolute;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--wite-text-color);
}

/* Team */
.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-section {
  background-color: var(--team-background-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-item {
  background: var(--wite-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team-item {
    margin-bottom: 30px;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    margin-bottom: 30px;
    max-width: 270px;
  }
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team-icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team-link__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-icon-color);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link__social:hover, .team-link__social:focus {
  background-color: var(--accent-color);
  color: var(--second-icon-color);
}

.team-icon {
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon:hover,
.team-icon:focus {
  fill: var(--wite-text-color);
}

/* Clients */
.clients-title {
  font-size: 28px;
  line-height: 1.1785714286;
  font-weight: 700;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

.client-icon {
  fill: currentColor;
}

.client-item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 90px) / 3);
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    width: 170px;
    height: 92px;
  }
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-icon-color);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--primary-icon-color);
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* Portfolio */
.portfolio-list__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px 8px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio-list__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.portfolio-item__button {
  margin-right: 8px;
}
.portfolio-item__button:last-child {
  margin-right: 0;
}

.portfolio-button {
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
}
.portfolio-button:hover, .portfolio-button:focus {
  color: var(--wite-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.hide {
  display: none;
}

.portfolio-item {
  margin-bottom: 30px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.portfolio-item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio-link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}
.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:hover .portfolio-product__overlay, .portfolio-link:focus .portfolio-product__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-product__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.portfolio-review {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  text-align: center;
  color: var(--wite-text-color);
}
@media screen and (max-width: 400px) {
  .portfolio-review {
    font-size: 14px;
    line-height: 1.5714285714;
    padding: 30px 24px;
  }
}
@media screen and (min-width: 401px) and (max-width: 480px) {
  .portfolio-review {
    padding: 35px 24px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .portfolio-review {
    padding: 35px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-review {
    padding: 63px 24px;
  }
}

.portfolio-container {
  border: 1px solid var(--section-background-color);
  border-top: none;
  padding: 20px 25px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-container.current {
    padding-bottom: 56px;
  }
}

.portfolio-examples {
  line-height: 1.87;
  font-size: 16px;
  color: var(--primary-text-color);
  margin-right: auto;
  margin-left: auto;
}

/* Footer */
.footer {
  background-color: var(--accent-background-color);
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer__address {
  margin-top: 20px;
}

.footer-list__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-container__contacts {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-link {
  line-height: 1.71;
  color: var(--wite-text-color);
  font-style: normal;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover, .footer-link:focus {
  color: var(--accent-text-color);
}

.footer-item__link {
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item__link:hover,
.footer-item__link:focus {
  color: var(--accent-text-color);
}

.footer-container__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-container__social {
    text-align: center;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container__social {
    margin-left: 70px;
  }
}

@media (min-width: 480px) and (max-width: 767.98px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-social__title--social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-text-color);
  margin-bottom: 20px;
}

.footer-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 0;
  gap: 10px;
  background-color: var(--social-icon-background-color);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: var(--wite-background-color);
}

.footer-container__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-container__newsletter {
    margin-left: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer-title__newsletter {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-text-color);
  margin-bottom: 20px;
}

.footer-input__newsletter {
  height: 50px;
  padding: 15px 16px;
  border: 0;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--accent-background-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--wite-text-color);
  -webkit-transition-property: outline-color;
  transition-property: outline-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 320px) and (max-width: 479.98px) {
  .footer-input__newsletter {
    width: 300px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .footer-input__newsletter {
    width: 450px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input__newsletter {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-input__newsletter:focus {
  outline-color: var(--alt-section-color);
}

.footer-icon__newsletter {
  margin-left: 12px;
}

.footer-form__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-form__newsletter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}/*# sourceMappingURL=main.css.map */