/* Footer */

.footer {
  background-color: var(--accent-background-color);
  padding-top: 0;
  padding-bottom: 0;

  @include mq(desk) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer__address {
  margin-top: 20px;
}

.footer-list__address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container__contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 60px;

  @include mq(desk) {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-link {
  line-height: 1.71;
  color: var(--wite-text-color);
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.footer-item__link {
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item__link:hover,
.footer-item__link:focus {
  color: var(--accent-text-color);
}

.footer-container__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  margin-bottom: 60px;

  @include mq(tab) {
    text-align: center;
    margin-left: 165px;
  }
  @include mq(desk) {
    margin-left: 70px;
  }
}

.footer-container {
  @include mq(mob-lg-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
  @include mq(desk) {
    display: flex;
    align-items: baseline;
  }
}

.footer-social__title--social {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-text-color);
  margin-bottom: 20px;
}

.footer-social__item {
  display: flex;
}

.footer-social__list {
  display: flex;
  gap: 10px;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 0;
  gap: 10px;
  background-color: var(--social-icon-background-color);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: var(--wite-background-color);
}

.footer-container__newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(desk) {
    margin-left: auto;
    align-items: start;
  }
}

.footer-title__newsletter {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-text-color);
  margin-bottom: 20px;
}

.footer-input__newsletter {
  height: 50px;
  padding: 15px 16px;
  border: 0;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--accent-background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--wite-text-color);
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(mob-sm-only) {
    width: 300px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
  @include mq(mob) {
    width: 450px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
  @include mq(desk) {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-input__newsletter:focus {
  outline-color: var(--alt-section-color);
}

.footer-icon__newsletter {
  margin-left: 12px;
}

.footer-form__newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(desk) {
    flex-direction: row;
    align-items: start;
  }
}
