/* Hero */

.hero-title {
  font-size: 26px;
  line-height: calc(42 / 26);
  color: var(--wite-text-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero-container__text {
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  @include mq(mob) {
    width: 360px;
  }
  @include mq(desk) {
    width: 696px;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: var(--accent-background-color);
  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Hero/hero_480@1x.webp);
  max-width: 480px;
  padding-top: 58px;
  padding-bottom: 58px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/Hero/hero_480@2x.webp);
  }

  @include mq(tab) {
    max-width: 768px;
    padding-top: 58px;
    padding-bottom: 58px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/Hero/hero_768@1x.webp);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/Hero/hero_768@2x.webp);
    }
  }
  @include mq(desk) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/Hero/hero_1200@1x.webp);
    max-width: 1600px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/Hero/hero_1200@2x.webp);
    }
  }
}
