/* peculiarities */
.peculiarities-list {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }
}

.peculiarities-title {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 10px;
}

.peculiarities-container__icon {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.peculiarities-icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.peculiarities-container {
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-left: 0;
    margin-right: 0;
  }
}

.peculiarities-text {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
