/* peculiarities */
.peculiarities-list {
  @include mq(tab-only) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  @include mq(desk) {
    display: flex;
    gap: 30px;
  }
}

.peculiarities-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 10px;

  @include mq(tab) {
    text-align: start;
  }
}

.peculiarities-container__icon {
  height: 120px;
  background-color: var(--button-color);
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.peculiarities-icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.peculiarities-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }

  @include mq(tab) {
    width: 354px;
    margin-left: 0;
    margin-right: 0;
  }

  @include mq(desk) {
    width: 270px;
  }
}

.peculiarities-text {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
